body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#nav-bar{
    display: flex;
    background-color: rgb(11,13,23);
}
.nav-logo{
    width: 60%;
    display: flex;
}
.nav-logo span{
    color: rgba(11, 202, 36, 0.733);
    margin-left: 8%;
    margin-top: 1%;
    font-size: 45px;
    font-weight: 700;

}
.nav-items{
    width: 40%;
    display: flex;

}
.nav-items ul{
    display:flex;
}
.nav-items ul li{
    list-style: none;
    margin-left: 5%;
}
.nav-items ul li a{
    text-decoration: none;
    color:rgb(19, 184, 13);
    display: inline-block;
     
    font-size: 25px;   
}
.search-button{
    border: 1px solid white;
    padding: 6px 0px;
    padding-left: 10px;
    font-size: 18px;
}







.anchor{
    color: wheat;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    background-image:linear-gradient(rgb(8, 182, 37), rgb(6, 89, 122));
    padding: 15px 40px;
    border-radius: 20px;
    margin: 10px;
    
}


.food{
    width: 40%;
    margin-left: 150px;
    padding: 5px;
    display: inline;
}
 #network{
     margin-top:10%;
 }

.food img{
    width: 90%;
margin-left: 40px;
}

p {
font-size: 15px;

}

.top-baner{
    display: flex;}


h1{
font-size: 70px;}

h2{
    font-size: 30px;
}


  .oreng{
      color: rgb(19, 184, 13);
  }

  .about{
      display: flex;
      background-image: url(images/Frame\ 57.jpg);
      background-repeat: no-repeat;
      margin-top: 300px;
}
#about{
    
}
 
.lorem{
    width: 40%;
    margin-right: 50px;
    padding: 5px;
    display: inline;
    
}

.lorem img{
    width: 90%;
}

 #about-later{
     margin-left: 10%;
 }

 .resipies{
     text-align: center;
 }
 .recipie-list{
    margin:0 4%;
    display: flex;
    
 }



 .Recipie{
     width: 30%;
     margin:2%;
     box-shadow: 0px 0px 50px gray;
    border-radius: 15px;
    padding: 35px;
     

 }
.Recipie img{
    width: 100%;
}

.last-footer{
    background: rgb(11,13,23);
    margin-top: 250px;
    padding-bottom: 40px;
    padding-top: 10px;
    text-align: center;
}

.last-color{
 color: rgb(13, 206, 142);

}

.last-footer h2{ color: rgb(128, 122, 122);

}

.last-footer p{
color: rgb(114, 114, 110);
}